[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
flask-jwt-extended = "*"
flask-wtf = "*"
email-validator = "*"
requests = "*"
yapf = "*"
flask-cors = "*"
flask-apispec = "*"

[requires]
python_version = "3.7"
